<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <link rel="shortcut icon" href="assets/ico/favicon.ico"/>

    <title>Management System</title>

    <link th:href="@{css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{fontawesome/css/all.css}" rel="stylesheet"/>
    <style>
        a {
            color: whitesmoke;
        }
        .navbar-nav > .nav-item > .nav-link {
            color: whitesmoke;
        }

        body {
            background-color: #d3d6d8;
        }
    </style>

</head>

<body>
<nav class="navbar navbar-expand-lg bg-dark navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">

            <a class="navbar-brand" th:href="@{/home}">Hospital Management System</a>
        </div>
        <div class="navbar-collapse collapse navbar-right">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" th:href="@{/home}">Home</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/about}">About</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/contact}">Contact</a></li>
                <li class="nav-item dropdown float-end ms-auto">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">My Account</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" th:href="@{/login}">Login</a></li>
                        <li><a class="dropdown-item" th:href="@{/register}">Register</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <h1 style="font-size: 40px; align-content: center">Users</h1>

    <table class="table table-bordered">
        <thead>
            <tr>
            <th>Email</th>
            <th>First Name</th>
            <th>Last Name</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="user: ${users}">
                <td th:text="${user.email}">Email</td>
                <td th:text="${user.firstName}">First Name</td>
                <td th:text="${user.lastName}">Last Name</td>
            </tr>
        </tbody>
    </table>
</div>

<script th:src="@{js/bootstrap.bundle.min.js}"></script>
<script th:src="@{fontawesome/js/all.js}"></script>

</body>
</html>