<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base.html}">
<head>
    <title>Patient Cases | Create</title>
</head>
<body>
<section layout:fragment="content">
    <div class="container px-4 mt-4">
        <div class="row justify-content-center mb-2">
            <div class="col">
                <a class="btn btn-success float-end" role="button" th:href="@{/PatientCases/All}">Patient Cases</a>
            </div>
        </div>
        <div class="row">
            <div class="card mb-4">
                <div class="card-header">Create Patient Case Record</div>
                <div class="card-body">

                    <form method="POST" th:action="@{/PatientCases/Add}" th:object="${patientCase}">

                        <div class="mb-3">
                            <label for="diagnosis">Diagnosis</label>
                            <input type="text"
                                   name="diagnosis"
                                   id="diagnosis"
                                   placeholder="Diagnosis"
                                   class="form-control"/>
                            <span class="invalid" th:errors="${patientCase.diagnosis}"></span>
                        </div>

                        <div class="row gx-3 mb-3">
                            <div class="col-md-6">
                                <label for="caseDate">Case Date</label>
                                <input type="date"
                                       id="caseDate"
                                       class="form-control"
                                       name="caseDate"/>
                                <span class="invalid" th:errors="${patientCase.caseDate}"></span>
                            </div>

                            <div class="col-md-6">
                                <label for="patientId">Patient</label>
                                <select class="form-select"
                                        name="patientId"
                                        id="patientId">
                                    <option th:each="patient : ${patients}"
                                            th:value="${patient.id}"
                                            th:text="${patient.firstname} + ' ' + ${patient.lastname}">
                                    </option>
                                </select>
                            </div>
                        </div>

                        <div class="mb-3">
                            <label for="treatment">Treatment</label>
                            <textarea type="text"
                                      id="treatment"
                                      rows="3"
                                      class="form-control"
                                      name="treatment"
                                      placeholder="Treatment"></textarea>
                            <span class="invalid" th:errors="${patientCase.treatment}"></span>
                        </div>

                        <div class="form-group mt-2">
                            <button class="btn btn-primary btn-block" type="submit">Add Patient Case</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

</body>
</html>