<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base.html}">
<head>
    <title>Users</title>
</head>
<body>
<section layout:fragment="content">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="login-form bg-light mt-4 p-4">

                    <h4>Edit an account</h4>

                    <form class="row g-3" method="POST" th:action="@{/Users/Update}">

                        <input type="hidden" name="id" th:field="${user.id}" class="form-control"/>

                        <div class="form-group">
                            <label for="firstname">First Name</label>
                            <input type="text"
                                   name="firstname"
                                   th:field="${user.firstname}"
                                   id="firstname"
                                   placeholder="First name"
                                   class="form-control"/>
                            <span style="color: #dc3545;width: 100%; margin-top: 0.25rem; font-size: 80%;"></span>
                        </div>

                        <div class="form-group">
                            <label for="lastname">Last Name</label>
                            <input type="text"
                                   id="lastname"
                                   th:field="${user.lastname}"
                                   class="form-control"
                                   name="lastname"
                                   placeholder="Last name"/>
                            <span style="color: #dc3545;width: 100%; margin-top: 0.25rem; font-size: 80%;"></span>

                        </div>

                        <div class="form-group">
                            <label for="username">Username</label>
                            <input type="text"
                                   id="username"
                                   th:field="${user.username}"
                                   class="form-control"
                                   name="username"
                                   placeholder="Username"/>
                            <span style="color: #dc3545;width: 100%; margin-top: 0.25rem; font-size: 80%;"></span>

                        </div>

                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email"
                                   id="email"
                                   th:field="${user.email}"
                                   class="form-control"
                                   name="email"
                                   placeholder="Email"/>
                            <span style="color: #dc3545;width: 100%; margin-top: 0.25rem; font-size: 80%;"></span>
                        </div>

                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="text"
                                   id="password"
                                   th:field="${user.password}"
                                   class="form-control"
                                   name="password"
                                   placeholder="Password"/>
                            <span style="color: #dc3545;width: 100%; margin-top: 0.25rem; font-size: 80%;"></span>
                        </div>

                        <div class="form-group mt-2">
                            <button class="btn btn-primary btn-block" type="submit">Update User</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

</body>
</html>