<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base.html}">
<head>
    <title>Home</title>
</head>
<body>
<section layout:fragment="content">

    <span sec:authentication="principal.authorities">Roles</span>
    <div class="container">

        <div th:if="${message}" th:text="${message}" th:class="${'alert ' + alertClass}"></div>

    </div>

</section>

</body>
</html>