<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base.html}">
<head>
    <title>Users</title>
</head>
<body>
<section layout:fragment="content">
    <div class="container px-4 mt-4">
        <div class="row justify-content-center mb-2">
            <div class="col">
                <a class="btn btn-success float-end" role="button" th:href="@{/Departments/All}">Departments</a>
            </div>
        </div>
        <div class="row">
            <div class="card mb-4">
                <div class="card-header">Create Department</div>
                <div class="card-body">
                    <form method="POST" th:action="@{/Departments/Add}" th:object="${department}">

                        <div class="row gx-3 mb-3">
                            <div class="col-md-6">
                            <label for="code">Department Code</label>
                            <input type="text"
                                   name="code"
                                   id="code"
                                   placeholder="Code"
                                   class="form-control"/>
                                <span class="invalid" th:errors="${department.code}"></span>
                        </div>

                            <div class="col-md-6">
                            <label for="name">Department Name</label>
                            <input type="text"
                                   id="name"
                                   class="form-control"
                                   name="name"
                                   placeholder="Name"/>
                                <span class="invalid" th:errors="${department.name}"></span>
                            </div>
                        </div>

                        <div class="form-group mt-2">
                            <button class="btn btn-primary btn-block" type="submit">Add Department</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

</body>
</html>