<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base.html}">
<head>
    <title>Users</title>
</head>
<body>
<section layout:fragment="content">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="login-form bg-light mt-4 p-4">

                    <h4>Edit an account</h4>

                    <form class="row g-3" method="POST" th:action="@{/Departments/Update}">

                        <input type="hidden" name="id" th:field="${department.id}" class="form-control"/>

                        <div class="form-group">
                            <label for="code">Department Code</label>
                            <input type="text"
                                   name="code"
                                   th:field="${department.code}"
                                   id="code"
                                   class="form-control"/>
                            <span style="color: #dc3545;width: 100%; margin-top: 0.25rem; font-size: 80%;"></span>
                        </div>

                        <div class="form-group">
                            <label for="name">Department Name</label>
                            <input type="text"
                                   id="name"
                                   th:field="${department.name}"
                                   class="form-control"
                                   name="name"/>
                            <span style="color: #dc3545;width: 100%; margin-top: 0.25rem; font-size: 80%;"></span>

                        </div>

                        <div class="form-group mt-2">
                            <button class="btn btn-primary btn-block" type="submit">Update Department</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

</body>
</html>