<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base.html}">
<head>
    <title>Users</title>
</head>
<body>
<section layout:fragment="content">

    <div class="container mt-2">
        <div class="row justify-content-center mb-2">
            <div class="col-md-10">
                <div th:if="${message}" th:text="${message}" th:class="${'alert ' + alertClass}"></div>
                <h4 class="float-start">Departments</h4>
                <a class="btn btn-success float-end" role="button" th:href="@{/Departments/Create}">Add Department</a>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-md-10">
                <table class="table table-bordered mt-2" id="table">
                    <thead>
                    <tr>
                        <th>Code</th>
                        <th>Department</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="department:${departments}">
                        <td th:text="${department.code}">Id</td>
                        <td th:text="${department.name}">Date In</td>

                        <td>
                            <a class="btn btn-warning" th:href="@{'/Departments/Edit/' + ${department.id}}">Edit</a>
                        </td>
                        <td>
                            <a class="btn btn-danger" th:href="@{'/Departments/Delete/' + ${department.id}}">Delete</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


</section>


</body>
</html>